{{define "nav"}}
<nav>
	<div>
		<a href="/">Home</a>
		{{if .IsAuthenticated}}
			<a href="/snippet/create">Create Snippet</a>
		{{end}}
	</div>
	<div>
		{{if .IsAuthenticated}}
			<form action="/user/logout" method="post">
		{{else}}
			<a href="/user/signup">Signup</a>
			<a href="/user/login">Login</a>
		{{end}}
			<button>Logout</button>
		</form>
	</div>
</nav>
{{end}}
